$primary-color: #ffefe7;
$secondary-color: #ffdac6;
$teartiary-color: #babd8d;
$primary-text-color: #7c6a0a;
$font-stack: "IBM Plex Sans", sans-serif;

@mixin flexCenter($direction, $content, $align) {
	display: flex;
	flex-direction: $direction;
	justify-content: $content;
	align-items: $align;
}

@mixin buttonStyle {
	li {
		list-style: none;
	}
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
html {
	font-family: $font-stack;
	font-size: 62.5%;
	background-color: $primary-color;
}
nav {
	width: 100%;
	height: 100px;
	color: $primary-text-color;
	display: flex;
	justify-content: space-between;
	align-items: center;
	// border: 1px solid;

	.nav__title {
		font-size: 3rem;
		font-weight: 400;
		line-height: 3.9rem;
		margin-left: 32px;
	}

	.nav_buttons {
		@include buttonStyle;
		display: flex;

		justify-content: space-between;
		margin-right: 20px;

		.nav__btn {
			margin: 4px 16px;
			cursor: pointer;

			.material-symbols-outlined {
				font-size: 2.3rem;
			}
		}
	}
}
.impact-section {
	// border: 1px solid;
	width: auto;
	height: auto;
	display: flex;
	margin: 12px 32px;

	.impact-section__about-description {
		// border: 1px solid;
		width: 50%;
		color: $primary-text-color;
		display: flex;
		flex-direction: column;
		gap: 32px;

		.impact-section__title {
			font-size: 6rem;
			font-weight: 500;
			line-height: 7.8rem;
		}
		.impact-section__description {
			font-size: 2.3rem;
			font-weight: 400;
			line-height: 3.5rem;
			margin: 26px 0;
			text-align: justify;
		}
		.impact-section-btn {
			@include buttonStyle;
			display: inline-block;
			width: 240px;
			height: 50px;
			border-radius: 35px;
			background-color: #fa9500;
			font-size: 2.3rem;
			font-weight: 700;
			line-height: 2.9rem;
			color: $primary-color;
			text-align: center;
			padding-top: 8px;
			text-decoration: none;
		}
	}
	.impact-section__img {
		// border: 1px solid;
		width: 50%;
		height: 550px;
		@include flexCenter(row, center, center);
		img {
			width: 450px;
			min-width: 280px;
			height: 100%;
			border-radius: 12px;
			margin-left: 100px;
		}
	}
}

.category-products {
	margin: 80px 0;

	.category-product__title {
		font-size: 4rem;
		color: $primary-text-color;
		font-weight: 400;
		margin-left: 32px;
		margin-bottom: 40px;
	}

	.cards-products {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		column-gap: 80px;
		row-gap: 80px;

		.card-product {
			// border: 1px solid;
			width: 280px;
			min-width: 250px;
			height: auto;
			margin: 12px 20px;
			position: relative;
			text-align: center;
			border-radius: 6px;
			padding-bottom: 28px;

			button {
				position: absolute;
				background: none;
				border: none;
				right: 12px;
				top: 8px;
				cursor: pointer;
			}

			.card-product__image-product {
				width: 200px;
				height: 250px;
				object-fit: cover;
				margin-top: 34px;
				border-radius: 6px;
			}
			.card-product__info {
				width: auto;
				height: auto;
				display: flex;
				flex-direction: column;
				justify-content: center;
				padding-left: 28px;
				padding-right: 28px;
				text-align: start;

				.card-product__title {
					font-size: 2.1rem;
					font-weight: 500;
					line-height: 3rem;
				}

				.card-product__description {
					font-size: 1.4rem;
					font-weight: 400;
					line-height: 1.9rem;
				}
			}
		}
		.product-health {
			color: #7c6a0a;
			background-color: #ffdac6;
			.material-symbols-outlined {
				color: #7c6a0a;
			}
		}
		.product-furniture {
			color: $primary-color;
			background-color: #babd8d;
			.material-symbols-outlined {
				color: $primary-color;
			}
		}
	}
}

footer {
	$background: #fa9500;
	background-color: $background;
	width: 100%;
	height: 50px;
}
/* Desktop*/
